<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for follower in followers %}
        <p>{{ follower.follower.username }}</p>
        <span>{{ follower.follower.city }}</span>
    {% endfor %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% include 'accounts/pagination.html' %}
</body>
</html>