<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Followers: {{ followers_count }}</h2>
    <h2>Following: {{ followings_count }}</h2>
    <h2>Is friends: {{ is_followed }}</h2>
    <h2>New Users:</h2>
    {% for user in new_users %}
        <p>{{ user.username }}</p>
    {% endfor %}
{{ user }}
</body>
</html>