{% load staticfiles %}
        <form class="sign-box" action="{% url 'pins:pin_image' pin.slug %}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}

            <div class="sign-avatar no-photo">&plus;</div>
            <header class="sign-title">Pin board</header>

            <div class="form-group">
                {{ form.board.errors }}
                {{ form.board }}
            </div>
            <button type="submit" class="btn btn-rounded btn-success sign-up">Pin It!</button>

        </form>
